extends layout
block content
  .beerDisplay
    dl.w3-panel.w3-border.w3-container.w3-center#textDisplay
      each val, index in beers
        dt.title= ' ' + val.name
        dd= 'Type: ' + val.beerType
        dd= 'IBU: ' + val.IBU
        dd= 'ABV: ' + val.ABV + '%'
        dd= 'Description: ' + val.description
        hr
        p 
        